# **Python data structure- assignment**

**Theory questions-**

**Q1.**What are the data structures and why are they important?

-->Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built. Python helps to learn the fundamental of these data structures in a simpler way as compared to other programming languages.Each data structure provides a particular way of organizing data so it can be accessed efficiently.

**Q2.**Explain the difference between mutable and immutable data types with examples.

-->Data types in Python are categorized into mutable and immutable data types. Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can’t be changed.

Examples:
Tuples: Immutable, meaning that once a tuple has been created, you can't replace any of its elements with a new value
Lists: Mutable, meaning that you can always change a list's elements

**Q3.**What are the main differences between lists and tuples in python?

-->The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists. When it comes to time efficiency, tuples have a slight advantage over lists especially when we consider lookup value. If you have data that shouldn’t change, you should choose tuple data type over lists.

**Q4.**describe how dictionaries store data?

-->Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

 **Q5.**Why might you use set instead of list in python?

 --> This is because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

**Q6.**What is a string in python and how is it different from a list?

-->n Python, strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”). Lists are ordered collections of items enclosed in square brackets [ ].Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

**Q7.**How do tuples ensure data integrity in python?

-->Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

**Q8.** What is hash table and how does it relate to dictionaries in python?

-->In Python, a dictionary is a data type that implements a hash table. A hash table is a data structure that stores key-value pairs in an array format. The keys in a dictionary are hashable, meaning they are generated by a hash function that produces a unique result for each key.

**Q9.**Can lists contain different data type in python?

-->Yes, lists can contain different data types infact You can also mix objects of different types within the same list, although list elements often share the same type. Hence, a list can contain heterogeneous data types.

**Q10.**Explain why strings are immutable in python?

-->Strings in Python are “immutable” which means they can not be changed after they are created.In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake). This avoids unnecessary bugs.

**Q11.**What advantages does dicsionaries offer over lists in certain tasks?

-->Dicsionaries have several advantages over lists:

Faster data retrieval: Dictionaries are faster than lists because they use hashing, which allows for faster data retrieval.

Easier to read code: Dictionaries make code easier to read when generating key:value pairs.

More flexible: Dictionaries can store any type of data as both the key and the value.

Better for complex data: Dictionaries are well-suited for storing complex data structures like graphs and databases.

**Q12.**Describe a scenerio where using a tuple would be prefrable over list.

-->Using a tuple can be more effective than using a list if you have a huge collection of data that you need to store, retrieve, and use regularly and that data does not need to be altered.

**Q13.**How does sets handle duplicate values in python?

-->Objects in a set do not duplicate and shows duplicate values.Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

**Q14.**How does the "in" keyword works in lists and dictionaries differently?

-->There are two uses of the in Python keyword. Firstly, it can check if a sequence (string, range, list) contains a particular value. Secondly, it can also serve as a sequence iteration in a For loop.

When using the "in" keyword with a list, it checks if an element exists within the list. The operation checks for the presence of the value itself (not the index or key).When using the "in" keyword with a dictionary, it checks if a key exists in the dictionary. It does not check for values unless explicitly instructed.

**Q15.**Can you modify the elements of a tuple? explain why or why not.

-->No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; this is a key distinction between tuples and lists, which are mutable and allow for element modification.

**Q16.**What is nested dictionary and give an example of its use case.

-->A nested dictionary is a dictionary that is stored within another dictionary. It's a way to store a collection of dictionaries in one place.
Use case: Employee records- Organize employees by department, with each employee's details in a nested dictionary.

**Q17.**Describe the time complexity of accessing elements in a dictionary.

-->The time complexity of accessing an element in a Python dictionary is \(O(1)\), which means it's constant time. This is because dictionaries use a hash table internally, which allows for constant time lookups

**Q18.**In what situations are lists preffered over dictionaries?

-->Lists are preferred over dictionaries in situations where:

1. Ordered Data: When the order of the elements matters, a list is ideal because
it preserves the order of items.

2. Index-Based Access: When you need to access elements by their index or position, lists are the right choice. You can directly access elements using their index (e.g., list[0] for the first item), which is more efficient for ordered data.

3. Iterating in Sequence: If you need to process items in a sequential manner or perform operations like sorting, filtering, or slicing, lists are often preferred due to their simplicity

4. Homogeneous Data: Lists are ideal for storing collections of similar items. While dictionaries can hold key-value pairs with diverse data types.

**Q19.**Why are dictionaries unordred and, how does it affect data retrieval?

-->Dictionaries in Python are unordered because they are optimized for fast lookups using hashing. This makes them efficient but means the order of elements is not guaranteed. You can still access values efficiently using their keys, and ordered dictionaries are available if order is crucial.

**Q20.**Explain difference between list and dictionary in terms of data retrieval.

-->Lists retrieve data by their position (index), while dictionaries retrieve data by their associated keys. This makes dictionaries significantly faster for lookups, especially in large datasets.

**Practical questions-**

**Q1.**Write code to create string with your name and print it.

In [1]:
Name="Mahi"
print(Name)

Mahi

**Q2.**Write a code to find the length of the string "Hello World".

In [3]:
len("Hello World")

11

**Q3.**Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
sliceline="Python Programming"
sliceline[0:3]

'Pyt'

**Q4.**Write a code to convert the string "hello" to uppercase.

In [5]:
string="hello"
string.upper()

'HELLO'

**Q5.**Write the code to replace the word "apple" and "orange" in the string "I like apple".

In [6]:
"I like apple".replace("apple","orange")

'I like orange'

**Q6.**Write a code to create list with numbers 1 to 5 and print it.

In [7]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

**Q7.**Write a code to append the number 10 to the list [1,2,3,4].

In [8]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

**Q8.**Write a code to remove the number 3 from the list [1,2,3,4,5,].

In [9]:
list2=[1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

**Q9.**Write a code to access the second element in the list ["a","b","c","d']

In [11]:
list3=["a","b","c","d"]
list3[1]

'b'

**Q10.**Write a code to reverse the list [10,20,30,40,50].

In [12]:
list4=[10,20,30,40,50]
list4.reverse()
print(list4)

[50, 40, 30, 20, 10]

**Q11.**Write a code to create tuple with the elements 10,20,30 and print it.

In [13]:
tuple1=(10,20,30)
print(tuple1)

(10, 20, 30)

**Q12.**Write a code to access the first element of the tuple ("apple","banana",'cherry").

In [ ]:
tuple2=("apple","banana",'cherry')
tuple2[0]

'apple'

**Q13.**Write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2).

In [15]:
tuple3=(1,2,3,2,4,2)
tuple3.count(2)

3

**Q14.**Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [17]:
tuple4=('dog','cat','rabbit')
tuple4.index('cat')

1

**Q15.**Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').

In [18]:
tuple5=('apple','orange','banana')
'banana' in tuple5

True

**Q16.**Write a code to create a set with element 1,2,3,4,5 and print it.

In [19]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

**Q17.**Write a code to add the element 6 to the set{1,2,3,4}.

In [20]:
set2={1,2,3,4,}
print(set2)
set2.add(6)
print(set2)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

**Q18.**Write a code to create a tuple with thw element 10,20,30 and print it.

In [22]:
tuple1=(10,20,30)
print(tuple1)

(10, 20, 30)

**Q19.**Write a code to access the first element of the tuple ("apple","banana",'cherry").

In [ ]:
tuple2=("apple","banana",'cherry')
tuple2[0]

'apple'

**Q20.**Write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2).

In [ ]:
tuple3=(1,2,3,2,4,2)
tuple3.count(2)

3

**Q21.**Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [ ]:
tuple4=('dog','cat','rabbit')
tuple4.index('cat')

1

**Q22.**Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').

In [ ]:
tuple5=('apple','orange','banana')
'banana' in tuple5

True

**Q23.**Write a code to create a set with element 1,2,3,4,5 and print it.

In [ ]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

**Q24.**Write a code to add the element 6 to the set{1,2,3,4}.

In [ ]:
set2={1,2,3,4,}
print(set2)
set2.add(6)
print(set2)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}